# Data Loading
## Creamos las tablas y cargamos los datos necesarios para implementar ModelOps

In [ ]:
%connect local

In [ ]:
CREATE MULTISET TABLE matriz_modelo 
    (
    PARTY_ID INTEGER,
    INCOME INTEGER,
    SEX SMALLINT,
    EDUCATION SMALLINT,
    MARRIAGE SMALLINT,
    AGE SMALLINT,
    PAY_1 SMALLINT,
    PAY_2 SMALLINT,
    PAY_3 SMALLINT,
    PAY_4 SMALLINT,
    PAY_5 SMALLINT,
    PAY_6 SMALLINT,
    BILL_AMT1 FLOAT,
    BILL_AMT2 FLOAT,
    BILL_AMT3 FLOAT,
    BILL_AMT4 FLOAT,
    BILL_AMT5 FLOAT,
    BILL_AMT6 FLOAT,
    PAY_AMT1 FLOAT,
    PAY_AMT2 FLOAT,
    PAY_AMT3 FLOAT,
    PAY_AMT4 FLOAT,
    PAY_AMT5 FLOAT,
    PAY_AMT6 FLOAT,
    EDUCATION_1 SMALLINT,
    EDUCATION_2 SMALLINT,
    EDUCATION_3 SMALLINT,
    MARRIAGE_1 SMALLINT,
    MARRIAGE_2 SMALLINT,
    LOG_BILL_AMT1 FLOAT,
    LOG_BILL_AMT2 FLOAT,
    LOG_BILL_AMT3 FLOAT,
    LOG_BILL_AMT4 FLOAT,
    LOG_BILL_AMT5 FLOAT,
    LOG_BILL_AMT6 FLOAT,
    LOG_PAY_AMT1 FLOAT,
    LOG_PAY_AMT2 FLOAT,
    LOG_PAY_AMT3 FLOAT,
    LOG_PAY_AMT4 FLOAT,
    LOG_PAY_AMT5 FLOAT,
    LOG_PAY_AMT6 FLOAT,
    SUM_PAY_TOT SMALLINT,
    STD_PAY_TOT FLOAT,
    SUM_PAY_REC SMALLINT,
    CANT_PAY_MAY0 SMALLINT,
    AVG_LBILL_TOT FLOAT,
    STD_LBILL_TOT FLOAT,
    CV_LBILL_TOT FLOAT,
    SUM_LBILL_REC FLOAT,
    CANT_LBILL_MAY0 SMALLINT,
    AVG_LPAY_TOT FLOAT,
    STD_LPAY_TOT FLOAT,
    CV_LPAY_TOT FLOAT,
    SUM_LPAY_REC FLOAT,
    CANT_LPAY_MAY0 SMALLINT,
    RATE_PAY_BILL1 FLOAT,
    RATE_PAY_BILL2 FLOAT,
    TAR SMALLINT)
    PRIMARY INDEX (PARTY_ID);

In [ ]:
%dataload DATABASE=demo_user, TABLE=matriz_modelo, skiprows=1, FILEPATH=modelo-cobranza-servicios/data/credit_train.csv

In [ ]:
CREATE MULTISET TABLE matriz_score 
    (
    PARTY_ID INTEGER,
    INCOME INTEGER,
    SEX SMALLINT,
    EDUCATION SMALLINT,
    MARRIAGE SMALLINT,
    AGE SMALLINT,
    PAY_1 SMALLINT,
    PAY_2 SMALLINT,
    PAY_3 SMALLINT,
    PAY_4 SMALLINT,
    PAY_5 SMALLINT,
    PAY_6 SMALLINT,
    BILL_AMT1 FLOAT,
    BILL_AMT2 FLOAT,
    BILL_AMT3 FLOAT,
    BILL_AMT4 FLOAT,
    BILL_AMT5 FLOAT,
    BILL_AMT6 FLOAT,
    PAY_AMT1 FLOAT,
    PAY_AMT2 FLOAT,
    PAY_AMT3 FLOAT,
    PAY_AMT4 FLOAT,
    PAY_AMT5 FLOAT,
    PAY_AMT6 FLOAT,
    EDUCATION_1 SMALLINT,
    EDUCATION_2 SMALLINT,
    EDUCATION_3 SMALLINT,
    MARRIAGE_1 SMALLINT,
    MARRIAGE_2 SMALLINT,
    LOG_BILL_AMT1 FLOAT,
    LOG_BILL_AMT2 FLOAT,
    LOG_BILL_AMT3 FLOAT,
    LOG_BILL_AMT4 FLOAT,
    LOG_BILL_AMT5 FLOAT,
    LOG_BILL_AMT6 FLOAT,
    LOG_PAY_AMT1 FLOAT,
    LOG_PAY_AMT2 FLOAT,
    LOG_PAY_AMT3 FLOAT,
    LOG_PAY_AMT4 FLOAT,
    LOG_PAY_AMT5 FLOAT,
    LOG_PAY_AMT6 FLOAT,
    SUM_PAY_TOT SMALLINT,
    STD_PAY_TOT FLOAT,
    SUM_PAY_REC SMALLINT,
    CANT_PAY_MAY0 SMALLINT,
    AVG_LBILL_TOT FLOAT,
    STD_LBILL_TOT FLOAT,
    CV_LBILL_TOT FLOAT,
    SUM_LBILL_REC FLOAT,
    CANT_LBILL_MAY0 SMALLINT,
    AVG_LPAY_TOT FLOAT,
    STD_LPAY_TOT FLOAT,
    CV_LPAY_TOT FLOAT,
    SUM_LPAY_REC FLOAT,
    CANT_LPAY_MAY0 SMALLINT,
    RATE_PAY_BILL1 FLOAT,
    RATE_PAY_BILL2 FLOAT,
    TAR SMALLINT)
    PRIMARY INDEX (PARTY_ID);

In [ ]:
%dataload DATABASE=demo_user, TABLE=matriz_score, skiprows=1, FILEPATH=modelo-cobranza-servicios/data/credit_new.csv

In [ ]:
CREATE SET TABLE matriz_modelo_metadata (
    column_name VARCHAR(1024),
    column_type VARCHAR(1024),
    stats VARCHAR(1024),
    update_ts VARCHAR(1024))
    PRIMARY INDEX ( column_name );

In [ ]:
%dataload DATABASE=demo_user, TABLE=churn_feature_metadata, skiprows=1, FILEPATH=modelo-cobranza-servicios/data/matriz_modelo_metadata.csv

In [ ]:
CREATE MULTISET TABLE matriz_modelo_predictions (
    job_id VARCHAR(255),
    PARTY_ID VARCHAR(9),
    TAR INTEGER,
    json_report CLOB(1048544000))
    PRIMARY INDEX ( job_id );

# Limpiando la BD (Opcional)
Cuando finalice el proceso, se pueden eliminar las tablas creadas

In [ ]:
DROP TABLE matriz_modelo;

In [ ]:
DROP TABLE matriz_score;

In [ ]:
DROP TABLE matriz_modelo_metadata;

In [ ]:
DROP TABLE matriz_modelo_predictions;

Copyright 2023. Elaborado por Luis Cajachahua bajo licencia MIT